fastapi==0.104.1
uvicorn[standard]==0.30.6
kiteconnect==5.0.1
requests==2.32.3
requests-oauthlib==2.0.0
python-dotenv==1.0.1
pydantic==2.9.2
APScheduler==3.10.4
redis==5.0.8
httpx==0.27.2
yt-dlp
b2sdk>=2.0.0

# google
google-auth==2.34.0
google-auth-oauthlib==1.2.1
google-auth-httplib2==0.2.0
google-api-python-client==2.152.0
python-dotenv==1.0.1
